$deep1: #262d3f;
$deep2: #384a6c;
$active1: #deffbb;
$info1: #80b4e9;
$info2: #abcef1;
$info3: #d9ecff;
$danger1: #ffadad;
$warning1: #ffc46b;
$success1: #9ddec7;
$gray1: #c8d8f0;
$dark1: #1f2129;
$dark2: #2a3247;
$white: #fff;
