@mixin hrBorder($c: $white, $mt: 10px, $mb: $mt) {
  margin-top: $mt;
  margin-bottom: $mb;
  border-top: 0;
  height: 1px;
  border: none;
  border-bottom: 1px solid $c;
}

@mixin rectangle($w: 0, $h: $w) {
  width: $w;
  height: $h;
}

/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {Keyword | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}