@mixin hrBorder($c: $white, $mt: 10px, $mb: $mt) {
  margin-top: $mt;
  margin-bottom: $mb;
  border-top: 0;
  height: 1px;
  border: none;
  border-bottom: 1px solid $c;
}

@mixin rectangle($w: 0, $h: $w) {
  width: $w;
  height: $h;
}
