@import "./variables";
@import "./mixins";
@import "./fonts";
@import "./normalize";
@import "./common";

body {
  font-family: "Montserrat", sans-serif;
  color: $dark1;
}

.wrapper {
  height: 100vh;
  .sidebar {
    width: $sidebar-width;
    transition: transform $trans;
    transform: translateX(0%);
    position: relative;
    .logo {
      max-width: 60px;
      margin: 15px auto;
      display: block;
      fill: rgba($white, 0.5);
      transition: max-width $trans;
    }
    hr.border {
      @include hrBorder(rgba($white, 0.15), 20px, 0px);
    }
    .sidebar-toggler {
      position: absolute;
      left: 100%;
      @include rectangle(25px, 50px);
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 0 100% 100% 0 / 50%;
      svg {
        @include rectangle(40px);
        margin-left: -10px;
        transform: rotate(-180deg);
      }
    }
    .navigation {
      list-style-type: none;
      .nav-item {
        .menu-text,
        a {
          // color: $white;
          display: flex;
          padding: 10px 5px;
          border-bottom: $lightBorder;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 5px;
          cursor: pointer;
          svg {
            @include rectangle(20px);
          }
          .link-text {
            transition: width $trans;
            overflow: hidden;
            display: inline-flex;
            width: calc(100% - 20px);
          }
        }
        &.has-sub {
          .carat-down {
            svg {
              transform: rotate(90deg);
            }
          }
          .link-text {
            width: calc(100% - 40px);
          }
          .submenu {
            margin-left: 15px;
            list-style-type: none;
            border-left: $lightBorder;
          }
        }
      }
    }
  }
  .content-wrapper {
    overflow: hidden;
    width: calc(100% - $sidebar-width);
    margin-right: 0;
    margin-left: auto;
    transition: all $trans;
    .header {
      height: $header-height;
      background-color: $deep2;
      padding: 10px;
      box-shadow: 0px 2px 10px 0px rgba($deep1, 0.5);
      color: $white;
    }
    .page-content {
      height: calc(100% - $header-height);
      padding: 10px;
      overflow: auto;
    }
  }
  &.squeezed {
    .sidebar {
      transform: translateX(-100%);
      position: absolute;
      top: 0;
      bottom: 0;
      .sidebar-toggler {
        svg {
          transform: rotate(0deg);
        }
      }
    }
    .content-wrapper {
      width: 100%;
    }
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
