@import "./variables";
@import "./mixins";
@import "./fonts";
@import "./normalize";

body {
  font-family: "Montserrat", sans-serif;
  color: $dark1;
}

.wrapper {
  display: flex;
  height: 100vh;
  .sidebar {
    width: $sidebar-width;
    background-color: $deep1;
    color: $white;
  }
  .content-wrapper {
    overflow-y: auto;
    width: calc(100% - $sidebar-width);
    .header {
      height: 50px;
      background-color: $info3;
      padding: 10px;
      box-shadow: 0px 2px 10px 0px rgba($deep1, 0.5);
    }
  }
}
